<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.picnik_v1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.picnik_v1.MainEventActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.picnik_v1.CreateEvent"
            android:label="@string/title_activity_create_event" >
        </activity>
        <activity
            android:name="com.example.picnik_v1.ValidationActivity"
            android:label="@string/title_activity_validation" >
        </activity>
        <activity
            android:name="com.example.picnik_v1.ContriActivity"
            android:label="@string/title_activity_contri" >
        </activity>
        <activity
            android:name="com.example.picnik_v1.LoginDetails"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name="com.example.picnik_v1.JoinActivity"
            android:label="@string/title_activity_join" >
        </activity>
        <activity
            android:name="com.example.picnik_v1.MemberLoginDetails"
            android:label="@string/title_activity_memberdetails" >
        </activity>
        <activity
            android:name="com.example.picnik_v1.AdminTimelineActivity"
            android:label="@string/title_activity_admin_timeline" >
        </activity>
        <activity
            android:name="com.example.picnik_v1.MemberTimelineActivity"
            android:label="@string/title_activity_member_timeline" >
        </activity>
    </application>

</manifest>